#create-user-error-messages {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: orangered;
  padding: 20px;
  width: 50%;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  transition: 0.5s ease;
}

.container {
  padding-bottom: 20px !important;
}

.pills-issue-count {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  flex-wrap: wrap;
  align-items: center;
  .comm-type-wrapper {
    margin: 5px 0;
    padding: 15px 0;
    border-radius: 5px;
  }
  .issue-category {
    color: #212121 !important;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
  .counter-in-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .counters {
    background-color: #6c63ff;
    height: 70px;
    width: 150px;
    margin: 0 5px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    .counter-title {
      color: #fff;
      font-size: 12px;
    }
    .count {
      color: #fff;
      font-size: 21px;
    }
  }
}
.create-user-form {
  padding: 0 20px;
}
.form-field-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  .mandatory {
    color: orangered;
    display: inline-block;
    width: 50px;
    text-align: center;
  }
}

.admin_action_delete,
.admin_action_accept,
.admin_action_reject,
.admin_action_edit {
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  vertical-align: middle;
}

.admin_action_edit {
  margin-left: 8px;
}

.member-profile-table {
  vertical-align: middle;
}

.record-fields {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .record-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
