.custom-buttons {
  background-color: #6c63ff;
  border: none;
  color: #f9f9f9;
  box-shadow: 0 0 1px #212121;
  font-family: inherit;
  border-radius: 4px;
  width: auto;
  padding: 6px 18px;
  text-transform: uppercase;
  font-weight: bolder !important;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 20px 0;
  outline: none;
}

.input-boxes {
  padding: 6px 0;
  margin: 18px 0;
  width: 100%;
  outline: transparent !important;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #6c63ff;
  font-size: 14px;
  font-family: inherit;
  color: #525252;
  font-weight: bolder;
  border-radius: 0;
}

// First Login
.first-login {
  border-radius: 4px;
  color: #eeeeee;
  font-size: 11px;
}

// Time and date input
.timeanddate {
  padding: 20px 0;
  span {
    font-size: 13px;
    border-radius: 0;
    background: #6c63ff;
    color: #eeeeee;
    border: none;
  }
  input {
    border: none;
    border-bottom: 2px solid #6c63ff;
    margin-top: 2.5px;
    border-radius: 0;
  }
}

// All pages top and second navbar
.allPages {
  height: 100%;
  .top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6c63ff;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    .logout {
      letter-spacing: 1px;
      text-decoration: none;
      color: #eeeeee;
      text-transform: uppercase;
      font-size: 10px;
      margin-left: 10px;
      background: orangered;
      padding: 4px 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .second-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    text-align: center;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 10px;
      display: flex;
      align-items: center;
      background-color: #6c63ff;
      padding: 7px 10px;
      border-radius: 3px;
      margin: 10px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      i {
        margin-bottom: 3px;
        margin-left: 10px;
      }
    }
  }
}

// Soft Containers
.pills {
  box-shadow: 2px 2px 20px #e1e1e1;
  padding: 10px 20px;
  border-radius: 8px;
  height: auto;
  margin: 20px 0;

  .table-name {
    color: #6c63ff;
    display: inline-block;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 20px 0 0;
  }
}

.noData {
  font-weight: bolder;
  font-size: 18px;
  color: orangered;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

.top-navbar {
  display: flex;
  align-items: center;
}
