.create-issue-container {
  .timeanddate {
    padding: 20px 0;
    span {
      font-size: 13px;
      border-radius: 0;
      background: #6c63ff;
      color: #eeeeee;
      border: none;
    }
    input {
      border: none;
      border-bottom: 2px solid #6c63ff;
      margin-top: 2.5px;
      border-radius: 0;
    }
  }
}

.member-leave-textarea {
  margin: 10px 0;
}

.mark-attendance {
  margin-right: 20px;
  padding: 5px 10px;
  color: #eeeeee;
  border-radius: 3px;
  text-decoration: none !important;
  vertical-align: middle;
  text-transform: uppercase;
  &:hover {
    color: #eeeeee;
  }
}
