html,
body {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

@media (min-width: 1200px) {
  html,
  body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
  }
}

#create-user-error-messages {
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: orangered;
  padding: 20px;
  width: 50%;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.custom-buttons {
  background-color: #6c63ff;
  border: none;
  color: #eee;
  font-family: inherit;
  border-radius: 4px;
  width: auto;
  padding: 6px 18px;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 20px 0;
  outline: none;
}

.input-boxes {
  padding: 6px 0;
  margin: 18px 0;
  width: 100%;
  outline: transparent !important;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #6c63ff;
  font-size: 14px;
  font-family: inherit;
  color: #525252;
  font-weight: bolder;
  border-radius: 0;
}

.admin-pages {
  height: 100%;
}

.admin-pages .top-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6c63ff;
  padding: 20px;
  font-size: 14px;
  color: #fff;
}

.admin-pages .top-navbar .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-pages .top-navbar .user-profile .notifications {
  margin-right: 20px;
}

.admin-pages .second-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.admin-pages .second-navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6c63ff;
  padding: 7px 10px;
  border-radius: 3px;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}

.admin-pages .second-navbar a svg {
  margin-left: 8px;
}

.pills {
  -webkit-box-shadow: 2px 2px 20px #e1e1e1;
          box-shadow: 2px 2px 20px #e1e1e1;
  padding: 10px 20px;
  border-radius: 8px;
  height: auto;
  margin: 40px 0;
}

.pills .table-name {
  color: #6c63ff;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 20px 0 0;
}

.pills-issue-count {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pills-issue-count .comm-type-wrapper {
  margin: 5px 0;
  padding: 15px 0;
  border-radius: 5px;
}

.pills-issue-count .issue-category {
  color: #212121 !important;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.pills-issue-count .counter-in-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.pills-issue-count .counters {
  background-color: #6c63ff;
  height: 70px;
  width: 150px;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
}

.pills-issue-count .counters .counter-title {
  color: #fff;
  font-size: 12px;
}

.pills-issue-count .counters .count {
  color: #fff;
  font-size: 21px;
}

.create-user-form {
  padding: 0 20px;
}

.form-field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form-field-wrapper .mandatory {
  color: orangered;
  display: inline-block;
  width: 50px;
  text-align: center;
}

.admin_action_delete,
.admin_action_edit {
  cursor: pointer;
}

.admin_action_edit {
  margin-left: 8px;
}

@media (max-width: 820px) {
  .second-navbar {
    -webkit-box-pack: initial !important;
        -ms-flex-pack: initial !important;
            justify-content: initial !important;
  }
}

.index-page-wrapper {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #525252;
}

.index-page-wrapper img {
  height: 200px;
  width: 200px;
}

.index-page-wrapper .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-page-wrapper .login-form .login-inputs {
  margin: 30px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 20px #e6e6e6;
          box-shadow: 2px 2px 20px #e6e6e6;
  padding: 40px 70px;
  border-radius: 8px;
  width: 100%;
}

.index-page-wrapper .login-form .forgot-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  width: 80%;
  padding: 0 30px;
}

.index-page-wrapper .login-form .forgot-pass a {
  text-decoration: none;
  color: orangered;
  margin-bottom: 5px;
  font-weight: bolder;
}

.index-page-wrapper .login-form .forgot-pass strong {
  font-size: 12px;
}

@media (min-width: 700px) {
  .login-form {
    width: 500px;
  }
}

.admin-page-wrapper .admin-summary {
  margin-top: 20px;
}

.admin-page-wrapper .admin-summary .attendance-count-wrapper table {
  font-size: 14px;
  color: #525252;
}

@media (min-width: 1200px) {
  .admin-page-wrapper {
    width: 1200px;
    margin: 0 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 2px 0 12px #525252;
            box-shadow: 2px 0 12px #525252;
  }
}

.upload-document-notes {
  list-style-type: none;
  padding: 10px 0;
  background-color: #f1f3f8;
  border-radius: 6px;
  width: 100%;
  color: #ff7171;
  font-weight: bold;
}

.upload-document-notes li {
  padding: 0 20px;
  width: 100%;
  text-align: justify;
}

.uploaded-document-table svg {
  cursor: pointer;
}

.create-issue-container .timeanddate {
  padding: 20px 0;
}

.create-issue-container .timeanddate span {
  font-size: 13px;
  border-radius: 0;
  background: #6c63ff;
  color: #eeeeee;
  border: none;
}

.create-issue-container .timeanddate input {
  border: none;
  border-bottom: 2px solid #6c63ff;
  margin-top: 2.5px;
  border-radius: 0;
}

.member-leave-textarea {
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */