html,
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box !important;
}

@media (min-width: 1200px) {
  html,
  body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
  }
}

@import "../styles/modules_styles/admin_pages_common";
@import "../styles/modules_styles/index_page";
@import "../styles/modules_styles/admin_page";
@import "../styles/modules_styles/admin_documentation";
@import "../styles/modules_styles/member_home";
